@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import 'tailwindcss';

@theme {
  --shadow-3xl: 0 0 35px 5px rgba(0, 0, 0, 0.25);
  --color-dark: #372535;
  --color-input-background: #7c9bb5;
  --color-button-background: #93d744;
  --color-button-background-hover: #7ac527;
  --color-button-reload: #9fded5;
  --color-button-reload-hover: #7bcdc4;
  --color-button-error: #f58311;
  --color-button-error-hover: #e66c10;
  --container-9xl: 96rem;
  --my-max-width: 1550px;
}

:root {
  --font-manrope: 'Manrope', sans-serif;
  --main-gradient: linear-gradient(to right top, #4b374c, #5b5a79, #6381a2, #69aac4, #7ed3da);
}

.dark {
  --main-gradient: linear-gradient(
    to right bottom,
    oklch(35% 0.21 350),
    oklch(40% 0.22 320),
    oklch(45% 0.24 280)
  );
}

@layer base {
  body {
    font-family: var(--font-manrope);
    background: var(--main-gradient);
  }
}
